<div class="ml-3 mt-3">
    <form method="POST" action="/courses/store" >
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name"  name="name" >
        </div>
    
        <div class="form-group">
            <label for="description">Mô tả </label>
            <input type="text" class="form-control" id="description" name="description"  placeholder="text">
        </div>

        <div class="form-group">
            <label for="img">img </label>
            <input type="text" class="form-control" id="img" name="img"  placeholder="text">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>