<div class="ml-4 mt-4 mr-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/">Hot-Hot</a>
        <div class="dropdown ml-auto">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://icdn.dantri.com.vn/thumb_w/640/2021/01/17/diem-mat-nhung-hot-girl-tiktok-gay-bao-cong-dong-mang-trong-2020-docx-1610897818376.jpeg" alt="" class="img-responsive">
                Xuân Hạnh
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Khóa học của tôi</a>
                <a class="dropdown-item" href="courses/create">Đăng khóa học</a>
                <a class="dropdown-item" href="me/stored/courses">Khóa học của tôi</a>
                <a class="dropdown-item" href="#">Đăng xuất</a>
            </div>
        </div>







        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">create</a>
                </li>
            </ul>
        </div> --}}
    </nav>
</div>